<?xml version="1.0" encoding="UTF-8"?>
<suite name="Sepbatch" parallel="false">
      <test name="RegSet1">
  	  <groups>
      <run>
      <include name="smoketest"/>
      <exclude name="RegressionTest"/>
      </run>
      </groups>
     <classes>
            <class  name="samplepackage.test" />
          <!--   class  name="Framework.Scenario_Book_Search" />
          -->
        </classes>
    </test>
            
   
</suite>